body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
}

.knowledge-card-body-container {
    display: flex;
}

.kc-container {
    display: flex;  
    
}

.all-knowledge-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

@media screen and (min-width: 1024px ) {
    .all-knowledge-cards {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .all-knowledge-cards {
        align-items: center;
    }
}


