@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
}

.knowledge-card-body-container {
    display: flex;
}

.kc-container {
    display: flex;  
    
}

.all-knowledge-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/*Search Container CSS*/
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    margin-top: 40px;
}

.search-container input {
    width: 94%;
    background: #FAFAFA;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.search-container input:focus {
    outline: none;
    border-bottom: 2px solid #1f7281;
}

.search-container input::placeholder {
    font-size: x-large;
    font-weight: 500;
    font-family: "Varela Round", sans-serif;
}


@media screen and (min-width: 1024px ) {
    .all-knowledge-cards {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .all-knowledge-cards {
        align-items: center;
    }
}


