/* App.css */
.scrollable-chat::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollable-chat::-webkit-scrollbar-thumb {
    background-color: #10b981; /* emerald-500 */
    border-radius: 4px;
  }
  
  .scrollable-chat::-webkit-scrollbar-track {
    background-color: #e5e7eb; /* gray-200 */
  }
  
  .scrollable-chat {
    scrollbar-width: thin;
    scrollbar-color: #10b981 #e5e7eb;
  }
  
  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
